/* HTML Tags */

body{
margin:0;
text-align: center;
}
div{

}
h1{
  font-family: 'Amatic SC', cursive;
font-size: 5.625rem;
margin-top:50px;
margin-bottom: 0;
color: #66BFBF;
line-height: 2;
/* margin-bottom: -50px;  */

}


.para1 {
  margin-left: 5%;
  margin-right: 5%;
}
.sub {font-size: 2.5rem;
margin-top: 10px;
font-weight: normal;

}
h2{
font-size: 2.5rem;
font-family: 'Josefin Slab', serif;
color: #66BFBF;
line-height: 2;
}
h3{
font-family: 'Josefin Slab', serif;
color: #11999E;

}
p{
font-family: 'Josefin Slab', serif;

}
hr {
  color: #11999e;
  border-width: 10px 0 0 0;
  width:10%;
  border-style: dotted;
}

.hello {
  height: auto;
  width: 15%;
  border-radius: 50%;
}
.coding {
  height: auto;
  width: 25%;
  float: left;
  margin-right: 20%;
}

.data {
  height: auto;
  width: 25%;
  float: right;
  margin-left: 20%;
}
.computer {
  height: auto;
  width: 25%;
  float: left;
  margin-right: 20%;
}
/* Classes */
.topCloud{
  position: absolute;
  right:300px;
  top:100px;
}
.bottomCloud{
  position: absolute;
  left:250px;
  top: 280px;
}

.head{
  background-color: #E0EBE8;
  padding-top:150px;

}
.skill-row {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: left;
  line-height: 2;
}

.footer {
  padding-top: 75px;
  padding-bottom: 50px;
background-color: #E0EBE8;
}

.contact-me{
  padding-bottom: 75px;
}

.footer-link {
  display:       inline-block;
  text-align:    center;
  text-decoration: none;
  padding: 14px 25px;
}

a.footer-link:link {
  color: #66BFBF;
}
a.footer-link:visited {
  color: #11999E;
}
a.footer-link:hover {
  color: black;
}
a.footer-link:active {
  color: white;
}

.button {
  background:    #66bfbf;
background:    linear-gradient(#66bfbf, #11999e);
border-radius: 5px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal bold 24px/1 "Calibri", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
text-decoration: none;
}
@media (max-width: 600px){
  .coding {
    float: none;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .data {
    float: none;
  width: 50%;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.computer {
  float: none;
  width: 50%;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}
